PORT=5000
MONGO_URI=mongodb+srv://adm:clinidesk@clinideskk.vvj5lng.mongodb.net/clinidesk?retryWrites=true&w=majority
JWT_SECRET=clinidesk
FRONTEND_URL=https://clinicasdigitais.cin.ufpe.br
TEST_USERNAME=recepção
TEST_PASSWORD=npinaii