.clinicas-modal-container {
  background-color: white;
  border-radius: 2rem;
  width: 100%;
  max-width: 32rem;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.2);
  animation: modalAppear 0.2s ease-out;
}

.clinicas-header {
  background: linear-gradient(to right, #0085ff, #00d1ff);
  padding: 2rem;
  color: white;
  position: relative;
}

.clinicas-content {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.search-add-group {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  background: #f8fafc;
  border: 2px solid #00000025;
  border-radius: 1rem;
}

.search-add-group:hover {
    border: 2px solid #0085ff;
}

.search-add-group input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.btn-add-clinica {
  background-color: #0070f3;
  color: white;
  padding: 0.5rem 1.25rem;
  border-radius: 0.75rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.1s;
}

.btn-add-clinica:hover {
    transform: scale(1.02);
}

.clinicas-list {
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Custom Scrollbar */
.clinicas-list::-webkit-scrollbar {
  width: 6px;
}
.clinicas-list::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.clinica-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #f1f5f9;
  color: #1e293b;
  font-weight: 500;
}

.lock-icon {
  color: #94a3b8;
}

.trash-icon {
  color: #94a3b8;
  transition: color 0.2s;
}

.trash-icon:hover {
  color: #ef4444; /* Vermelho do Tailwind */
}